.no-js #loader {display: none;}
.js #loader{
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
}

.se-pre-con{
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 9999;
            background: url(Preloader_7.gif) center no-repeat #fff;
}
